<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"> {{!--
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script> --}}
    <title>Document</title>
</head>

<body>
    <div class="container">
        <form action="" id="table-score">

            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th scope="col">Player</th>
                        <th scope="col">{{this.name1}}</th>
                        <th scope="col">{{this.name2}}</th>
                        <th scope="col">{{this.name3}}</th>
                        <th scope="col">{{this.name4}}</th>
                    </tr>
                </thead>
                <thead>
                    <tr style="background-color:#BF1363;color: #fff;">
                        <th scope="col"> SUM OF SCORE </th>
                        <th scope="col" id="allScorePlayer1"></th>
                        <th scope="col" id="allScorePlayer2"></th>
                        <th scope="col" id="allScorePlayer3"></th>
                        <th scope="col" id="allScorePlayer4"></th>
                    </tr>
                </thead>
                <tbody class="add-row">
                    <tr>
                        <th scope="row">Round 1</th>
                        <td>
                            <input value="" placeholder="Type number ... " id="scoreplayer1" name="scorePlayer1[]">
                        </td>
                        <td>
                            <input value="" placeholder="Type number ... " id="scoreplayer2" name="scorePlayer2[]">
                        </td>
                        <td>
                            <input value="" placeholder="Type number ... " id="scoreplayer3" name="scorePlayer3[]">
                        </td>
                        <td>
                            <input value="" placeholder="Type number ... " id="scoreplayer4" name="scorePlayer4[]">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Round 2</th>
                        <td>
                            <input value="" placeholder="Type number ... " class="player1" name="scorePlayer1[]">
                        </td>
                        <td>
                            <input value="" placeholder="Type number ... " id="scoreplayer2" name="scorePlayer2[]">
                        </td>
                        <td>
                            <input value="" placeholder="Type number ... " id="scoreplayer3" name="scorePlayer3[]">
                        </td>
                        <td>
                            <input value="" placeholder="Type number ... " id="scoreplayer4" name="scorePlayer4[]">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Round 3</th>
                        <td>
                            <input value="" placeholder="Type number ... " class="player1" name="scorePlayer1[]">
                        </td>
                        <td>
                            <input value="" placeholder="Type number ... " id="scoreplayer2" name="scorePlayer2[]">
                        </td>
                        <td>
                            <input value="" placeholder="Type number ... " id="scoreplayer3" name="scorePlayer3[]">
                        </td>
                        <td>
                            <input value="" placeholder="Type number ... " id="scoreplayer4" name="scorePlayer4[]">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Round 4</th>
                        <td>
                            <input value="" placeholder="Type number ... " class="player1" name="scorePlayer1[]">
                        </td>
                        <td>
                            <input value="" placeholder="Type number ... " id="scoreplayer2" name="scorePlayer2[]">
                        </td>
                        <td>
                            <input value="" placeholder="Type number ... " id="scoreplayer3" name="scorePlayer3[]">
                        </td>
                        <td>
                            <input value="" placeholder="Type number ... " id="scoreplayer4" name="scorePlayer4[]">
                        </td>
                    </tr>

                </tbody>
            </table>
            <div class="form-row text-center">
                <div class="col-12">
                    <button id="add-round" type="submit" class="btn btn-lg">ADD ROUND </button>
                </div>
            </div>
        </form>

    </div>

    <script>
        var countRound = 4;
        $("#table-score").on("submit", (e) => {

            e.preventDefault();

            $(function () {

                /* $.ajax({
                     success: (addround) => {
                         console.log("OK")
     
                         console.log(addround)
                     },
                     error: (err) => {
                         console.err(err)
                     }
                 })*/
                // }) 


                var allScorePlayer1 = 0;
                var allScorePlayer2 = 0;
                var allScorePlayer3 = 0;
                var allScorePlayer4 = 0;

                $('#add-round').click(function () {
                    countRound += 1;
                    $(".add-row").append(`<tr>
                <th scope="row">Round ${countRound}</th>
                <td>
                    <input value="" placeholder="Type number ... " class="player1" name="scorePlayer1[]" >
                </td>
                <td>
                    <input value="" placeholder="Type number ... " id="scoreplayer2" name="scorePlayer2[]" >
                </td>
                <td>
                    <input value="" placeholder="Type number ... " id="scoreplayer3" name="scorePlayer3[]">
                </td>
                <td>
                    <input value="" placeholder="Type number ... " id="scoreplayer4" name="scorePlayer4[]">
                </td>
            </tr>`)
                    console.log("OKK")
                })
                var scoreplayer1 = [];
                var scoreplayer2 = [];
                var scoreplayer3 = [];
                var scoreplayer4 = [];

                $('input[name^=scorePlayer1]').each(function () {
                    scoreplayer1.push($(this).val());
                });
                for (let i = 0; i < countRound; i++) {
                    allScorePlayer1 += parseInt(scoreplayer1[i]);
                }
                $('input[name^=scorePlayer2]').each(function () {
                    scoreplayer2.push($(this).val());
                });
                for (let i = 0; i < countRound; i++) {
                    allScorePlayer2 += parseInt(scoreplayer2[i]);
                }
                $('input[name^=scorePlayer3]').each(function () {
                    scoreplayer3.push($(this).val());
                });
                for (let i = 0; i < countRound; i++) {
                    allScorePlayer3 += parseInt(scoreplayer3[i]);
                }
                $('input[name^=scorePlayer4]').each(function () {
                    scoreplayer4.push($(this).val());
                });
                for (let i = 0; i < countRound; i++) {
                    allScorePlayer4 += parseInt(scoreplayer4[i]);
                }


                document.getElementById("allScorePlayer1").innerHTML = allScorePlayer1;
                document.getElementById("allScorePlayer2").innerHTML = allScorePlayer2;
                document.getElementById("allScorePlayer3").innerHTML = allScorePlayer3;
                document.getElementById("allScorePlayer4").innerHTML = allScorePlayer4;
                console.log(scoreplayer1);
                console.log(typeof scoreplayer1)
                console.log(allScorePlayer1)
                console.log(allScorePlayer2)
                console.log(allScorePlayer3)
                console.log(allScorePlayer4)
                return false;
            });



        })


    </script>
</body>

</html>