<div>
      <ul>
            {{#fromDB}}
            <li>{{quote}}</li>
            <form action="/userlist/{{_id}}/delete" method="POST">
                  <input class="delete-button" type="submit" name="delete" value="DELETE"></input>
            </form>
            {{/fromDB}}

      </ul>
</div>